<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="logo">{{ .Site.Params.company_name }}</a>
    </div>
    <div class="navbar-menu">
      <a href="#features" class="nav-link">Features</a>
      <a href="#about" class="nav-link">About</a>
      <a href="#testimonials" class="nav-link">Testimonials</a>
      <a href="#contact" class="nav-link">Contact</a>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="navbar-toggle" id="navbarToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
